/* Abu Toha Md Faisal */


body{
  height: 100%;
  background: white;
}

.content{
  margin: 10%;
  font-size: 22px;
  text-align: justify;
  font-family: 'Sawarabi Mincho', serif;
}



.logo{
  display: inline-flex;
}

/*
    font-family: 'Dancing Script', cursive;

    font-family: 'Nanum Myeongjo', serif;

    font-family: 'Nixie One', cursive;

    font-family: 'Sawarabi Mincho', serif;
*/
